*{

    margin: 0 auto;
    border: 0;
    padding: 0;
    box-sizing: border-box;
        list-style: none;
}

body {

    background-color: #f0f0f0; 
    font-family: arial, sans-serif;
}

h2 {

    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

h3 {

    color: #FF8552;
    font-size: 32px;
    padding: 60px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Pacifico', arial, sans-serif;
}

ul, li, p {

    font-family: arial, sans-serif;
    color: #6b6a6b;
}


/*HOME*/

div#home {
    width: 100%;
    min-height: 110vh;
    padding: 15px 0;
    
    background: 
        linear-gradient(to right, rgba(255,255,255,.2) 0%, rgba(246,246,246,.2) 47%, rgba(237,237,237,.2) 100%),
    
        url("home.jpeg") padding-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}


/* navigation */

.skew {
    background-color: white;
    opacity: .7;
    border-radius: 5px;
    height: 50px;
    width: 40%;
    min-width: 275px;
    transform: skew(-30deg);
    
    position: absolute;
    top: 15px;
    right: -20px;
}

nav ul {
    width: 40%;
    min-width: 275px;
    opacity: .8;
    padding-left: 20px;
    
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: space-between;
    font-size: .8em;
    
    position: absolute;
    right: 0;
    top: 10px;
    
    
}

nav li {

    letter-spacing: 2px;
    flex: 1;
    list-style: none;
    font-size: .9em;
    padding-top: 5px;
}

nav .logo {
    flex: 1.5;
    font-size: 2.2em;
    font-family: 'Pacifico', serif;
    letter-spacing: 6px;
    
}

nav .second {
    position: absolute;
    top: 10px;
}


nav a:link{
    color: #636363;
    text-decoration: none;
}

nav a:visited {
    color: #636363;
}	

nav a:hover {
    color: #ff8552;
}

/* quote form */

#quoteFormHeader {
    
    position: absolute;
    top: 40px;
    left: 10%;
    font-family: 'Pacifico', serif;
    font-size: 3em;
    z-index: 1;
    opacity: .9;
}

#quoteForm { 
    color: #6b6a6b;

    position: relative;
    top: 80px;
    opacity: .9;
    min-width: 60%;
    max-width: 70%;
    border-radius: 10px;
     box-shadow: inset 0px 6px 0px 0px rgb(255, 255, 255, .5);
    padding-top: 6px;
    letter-spacing: 1px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* quote form sliders */


#bedSliderContainer,
#bathSliderContainer {
    grid-column: span 6;
    font-size: .9em;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    
}


form input[type=range] { 

    cursor: pointer;
    display: flex;
    margin: 10px auto;
    max-width: 250px;
    width:100%;
    -webkit-appearance: none;
    height: 6px;
    background-color: #fff3a6;
    
}

input[type=range]::-ms-track {
  cursor: pointer; 
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
}

input[type=range]::-moz-range-thumb {
    background-image: url(radio-unchecked.png);

    background-size: 25px;
    background-repeat: no-repeat;

    border: 2px solid #fff3a6;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

#bedSliderContainer p,
#bathSliderContainer p { 

    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px 0;
    font-size: 1em;
    opacity: .9;
    
}


/* quote form clean type  */

#cleanContainer {
    grid-column: span 12;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    
}


#moveContainer, #routineContainer, #deepContainer {
    width: 100%;
    background-color: rgb(255, 243, 166, .9);
     box-shadow: inset 0px 6px 0px 0px rgb(255, 255, 255, .3); 
    text-align: center;
    padding: 10px;

    
}


input[type=radio]{ 
    display: none;
}

 form label { 
    letter-spacing: 1px;
    cursor: pointer;
     padding-left: 30px;
     padding-bottom: 5px;
     
     background-image: url("radio-unchecked.png");
     background-repeat: no-repeat;
     background-size: 20px;  
     
     opacity: .9;
     
}

form input:checked + label {
    background-image: url("radio-checked.png");
   
}


/*services included*/

#includedContainer {
    grid-column: 1 / -1;
    width: 100%;
    min-height: 225px;
    letter-spacing: 0;
    align-content: center;
    border: 5px solid rgb(255, 243, 166, .9);
    opacity: .9;
   
    font-size: .8em;
    background-color: rgb(255, 255, 255, .8);
/*    margin: 5px auto;*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#includedContainer li {
    background-image: url(included.png);
    background-repeat: no-repeat;
    background-size: 15px;
    margin-left: 50px;    
    padding-left: 20px;
    padding-bottom: 7px;
    color: rgb(0, 0, 0, .6=5);
}

#includedContainer p {
    font-size: 2em;
    font-family: 'Pacifico', arial, sans-serif;
     text-align: center;
    padding-bottom: 15px;
    opacity: .8;
}

#moveIncluded {
    grid-column: span 12;
    display: none;
}

#routineIncluded {
    grid-column: span 12;
    display: none;
}

#deepIncluded {
    grid-column: span 12;
    display: none;
}

/*learn more*/

#learnMoreServices {
    grid-column: span 12;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: .8em;
    background-color: rgb(255, 243, 166, .9);
    
}

#learnMoreServices a {
    color: #6b6a6b;
    text-decoration: none;
    font-size: .9em;
}

#learnMoreServices a:visited {
    color: #636363;
}	


#learnMoreServices a:hover {
    transition: .2s;
    color: rgb(255, 141, 94);
}


/*quote form buttons*/

#buttonContainer {
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 141, 94, .9);
    padding: 10px 0 20px 0;
    box-shadow: inset 0px 5px 0px 0px rgb(255, 255, 255, .2);
    border-radius: 0px 0px 5px 5px;

    
    grid-column: span 12;
    
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    
}

#buttonContainer label {
    background-image: none;
}

input[type="checkbox"] {
    display: none;
}

.switch { 

    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 5px auto;
    
    transition: all .3s;
}


.switch:hover {
    transition: all .3s;
    box-shadow:  0px 0px 6px 3px rgba(255,255,255,.5);
}

.click { 

    position: absolute;
    padding: 10px;
    border: 1.5px solid rgb(0, 0, 0, .5);
    box-shadow:  0px 3px 0px 0px rgba(0,0,0,.2);
    background-color: rgb(255, 255, 255, .6);
    border-radius: 5px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    transition: .2s;
    

}

input:checked + .click { 

    transition: .2s;
    transform: scale(1.1);
    border: 1px solid rgb(255, 255, 255, .6);
    color: #ffffff;
    background-color: rgb(255, 255, 255, .7);
}

#totalValue { 

    color: #6b6a6b;
    background-color: rgb(255, 255, 255, .8);
    padding: 5px;
    width: 100%;
    
 
    font-size: 2em;
    font-family: 'Georgia', serif;
    text-align: center;
    border-radius: 5px;
    grid-column: 6 / 8;

} 

#bookMeLink {

    font-family: 'Pacifico', arial, sans-serif;  
    text-decoration: none;
    color: #515151;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    right: -60px;
    
    z-index: 2;
} 


#bookMeLink:hover {

    color: rgb(255, 255, 255, .7);
}

/* end form */

#warning {
    
    padding: 10px; 
    color: #e84e40;
    width: 50%;
    text-align: center;
    margin-top: 250px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    font-size: .8em;
    opacity: 1;
    
}


/* SERVICES */
div#services {
    min-height: 100vh;
    background-color: rgb(229, 229, 229, .1);
    

}

div#includedAlways {
    width: 75%;
    background-color: rgb(229, 229, 229, .5);
    margin: 25px auto;
}

div#servicesTable {
    
    background-color: #F6F6F6;
    border: 10px solid #E5E5E5;
    width: 75%;
    margin: 50px auto;
    align-content: center;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.service {
    
    background-color: #E5E5E5;
}

div#servicesTable div {
    
    width: 100%;
    height: 100%; 
    padding: 10px;
    text-align: center;
    border: 1px solid #F0F0F0;
}


/* WHERE WE SERVE */

div#where {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    }


#mapContainer {
        background-color: rgb(255, 243, 166, 1);
        box-shadow:  inset 0px 6px 0px 0px rgb(255, 255, 255, .3); 
        padding: 100px 50px;
}

#mapContainer h3 {
    color: #6a6b6a;
    padding: 10px;
    transform: translateX(115px);

}

#mapContainer img {
    float: left;
    grid-row: 1;

    border: 2px solid white;
    padding: 15px;
    margin-right: 30px;
    
    transform: translateY(-50%);
}

/* ABOUT*/

div#about {

    min-height: 100vh;
    width: 100%;
    margin: 100px auto;
    }

#orangeSkew {
    height: 300px;
    background-color: rgb(255, 141, 94, .6);
    
    transform: skewX(-30deg) rotate(-15deg) translateY(60px);
}

#yellowSkew {
    height: 300px;
    background-color: rgb(255, 243, 166, .9);
    
    transform: skewX(30deg) rotate(15deg) translateY(-60px);
    z-index: -1;
}


/* footer */
/*--------------------------------------------------*/



footer {
        background-color: #6b6a6b;
        height: 
    }

footer a{
    color: #ffffff;
    font-size: .9em;
}

footer a:hover{
    color: orange;
    font-size: .9em;
    cursor: pointer;
}

#contact {
    color: #fff;
    position: absolute;
}


/*--------------------------------------------------*/
/* MEDIA STYLES */
/*--------------------------------------------------*/


@media all and (max-width: 950px) {
    
    nav ul {
        top: 25px;
    }

    nav li.logo {
        display:none;
    }
    
    #quoteFormHeader {
    top: 50px;
    font-size: 2.5em;
    }
    
    #bedSlider, #bathSlider {
        width: 80%;
    }
    
    form label { 
        font-size: .8em;
        padding-bottom: 10px;
    }
    
    #moveContainer, #routineContainer, #deepContainer {
        grid-column: span 12;
        padding: 10px;
        text-align: center;
        
        flex-direction: column;
    }
    
        #includedContainer {
        padding: 5px;
    }
    
    #includedContainer p {
    font-size: 1.5em;
}

    
     #warning {
         width: 75%;
        margin-top: 200px;
    }
    

    div#includedAlways {
        width: 90%;
    }

    div#servicesTable {
        width: auto;
        margin: 50px 20px;

    }

}

@media all and (max-width: 700px){
    
    #quoteFormHeader {
        left: 5%;
        font-size: 2em;
        top: 60px;
    }
    
    form#quoteForm {
        max-width: 80%;
        
    }
    
    input[type="range"]::-moz-range-thumb {
        height: 20px;
        width: 20px;
        background-size: 20px;
    }
    
     #bedSliderContainer p, #bathSliderContainer p{
        font-size: .8em;
    }
    
    #cleanContainer label{
        font-size: .7em;
        background-size: 15px;
    }
    
        
    #includedContainer li {
        margin-left: 5px;
    }
}

@media all and (max-width: 550px){
    
   #bedSliderContainer, #bathSliderContainer {
       grid-column: span 12;
    } 
    
    #moveContainer,
    #routineContainer, #deepContainer{
      text-align: left;
    padding: 5px;
    }
    
    #routineContainer, #deepContainer {
        box-shadow: none;
    }
    
    #cleanContainer {
        flex-direction: column;
        
    }
    
    #includedContainer p {
        font-size: 1.2em;
    }
    
    #includedContainer li {
        font-size: .85em;
    }
    
    #buttonContainer {
     grid-template-columns: repeat(3, minmax(50px, 1fr));
    
    }
    
}

@media all and (max-width: 350px){
    
    div#home {
        min-height: 150vh;
    }
    
    #quoteFormHeader {
          top: 75px;
    }
    
    #quoteForm {
        top: 100px;
    }
    
    
    #totalValue {
        grid-column: 4 / 10;
    }
    
    #warning {
        width: 90%;
        font-size: .7em;
        padding: 5px;
    }
    
}


