* {
    min-height: 0;
    min-width: 0;
    margin: 0 auto;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    
}

html, body {
    max-width: 100vw;
}

body:before {
    content: "";
     z-index: -1;
    
    background-image: url(img/final.png);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: bottom;
    width: 120%;
    height: 100%;
    filter: blur(15px);
    transform: scale(1.1);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: .9em;
    
}

h2 {
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

h3 {

    color: #FF8552;
    font-size: 32px;
    
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Pacifico', arial, sans-serif;
}

ul, li, p {

    font-family: arial, sans-serif;
    color: #6b6a6b;
    
}


/* HOME */

/*
.home {
    min-height: 120vh;
    padding: 15px 0;
    
    background-image: url("img/home.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
*/

picture img {
    max-width: 100%;
    min-height: 120vh;
}


/* navigation */

.skew {
    background-color: white;
    opacity: .7;
    border-radius: 5px;
    height: 50px;
    width: 40%;
    min-width: 275px;
    margin-right: 10px;
    
    position: absolute;
    top: 15px;
    right: 0px;
    overflow: hidden;
}

nav ul {
    width: 40%;
    min-width: 275px;
    opacity: .8;
    padding-left: 20px;
    
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: space-between;
    font-size: 1em;
    
    
    position: absolute;
    right: 0;
    top: .4em;
    
    
}

nav li {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    flex: 1;
    list-style: none;
    font-size: .9em;
    padding-top: 17px;
}

nav .logo {
    flex: 1.5;
    font-size: 1.4em;
    transform: scale(1.5);
    font-family: 'Quicksand', serif;
    padding-right: 20px;
    padding-top: 0px;
}

nav .second {
    position: absolute;
    top: 10px;
}


nav a:link{
    color: #636363;
    text-decoration: none;
}

nav a:visited {
    color: #636363;
}	

nav a:hover {
    color: #ff8552;
}

/* quote form */

#quoteFormHeader {
    
    position: absolute;
    top: 40px;
    left: 10%;
    font-family: 'Pacifico', serif;
    font-size: 3em;
    z-index: 1;
    opacity: .9;
}

#quoteForm { 
    color: #6b6a6b;

    position: relative;
    top: -63.5vw;
    opacity: .9;
    min-width: 65%;
    max-width: 70%;
    border-radius: 10px;
     box-shadow: inset 0px 6px 0px 0px rgba(255, 255, 255, .5);
    padding-top: 6px;
    
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}

/* quote form sliders */


.bedSliderContainer,
.bathSliderContainer {
    grid-column: span 6;
    font-size: 1.1em;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1px;
    
    
}


form input[type=range] { 

    cursor: pointer;
    display: flex;
    margin: 10px auto;
    max-width: 250px;
    width:100%;
    -webkit-appearance: none;
    height: 6px;
    background-color: #fff3a6;
    
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  cursor: pointer; 
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    
    background-image: url(img/radio-checked.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 50%;

    border: 2px solid #6a6b6a;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
    background-image: url(img/radio-unchecked.png);

    background-size: 25px;
    background-repeat: no-repeat;

    border: 2px solid #fff3a6;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.bedSliderContainer p,
.bathSliderContainer p { 

    display: flex;
    justify-content: space-around;
    padding: 5px 0 10px 0;
    opacity: .9;
    font-family: 'Roboto Slab', sans-serif;
    
}

.bedOutput,
.bathOutput {
    font-size: 1.5em;
    line-height: 1;
}


/* quote form clean type  */

#cleanContainer {
    grid-column: span 12;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}


#moveContainer, #routineContainer, #deepContainer {
    width: 100%;
    background-color: rgba(255, 243, 166, 1);
    text-align: center;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    
    
}


input[type=radio]{ 
    display: none;
}

 form label { 
    letter-spacing: 1px;
    cursor: pointer;
     padding-left: 30px;
     padding-bottom: 5px;
     
     background-image: url("img/radio-unchecked.png");
     background-repeat: no-repeat;
     background-size: 20px;  

     opacity: .9;
     font-size: 1.1em;
     
     margin-left: 10px;
}

form input:checked + label {
    background-image: url("img/radio-checked.png");
   
}


/*services included*/

.includedContainer {
    grid-column: 1 / -1;
    width: 100%;
   min-height: 325px;
    letter-spacing: 0;
    align-content: center;
    border: 5px solid rgba(255, 243, 166, .9);
    opacity: .9;
    padding: 20px;
   
    font-size: 1em;
    background-color: rgba(255, 255, 255, .8);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}




.includedContainer ul {
    width: 80%;
}

.includedContainer li {
    background-image: url(img/included.png);
    background-repeat: no-repeat;
    background-size: 20px;
    
    padding-left: 25px;
    padding-bottom: 7px;
    color: rgba(0, 0, 0, .6);
    font-size: 1.1em;
}

.includedContainer p {
    font-size: 1.7em;
    font-family: 'Pacifico', arial, sans-serif;
     text-align: center;
    padding-bottom: 15px;
    opacity: .8;
}

#moveIncluded {
    grid-column: span 12;
    display: none;
}

#routineIncluded {
    grid-column: span 12;
    display: none;
}

#deepIncluded {
    grid-column: span 12;
    display: none;
}

.bookContainer {
    position: relative;
    top: -60vw;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    width: 70%;
    
}

#totalValue { 
    height: 75px;
    color: #6b6a6b;
    background-color: rgba(255, 255, 255, .8);
    padding: 10px 20px;
 
    font-size: 3.7em;
    font-family: 'Pacifico', serif;
    text-align: center;
    line-height: .8;
    float: left;
    min-width: 95%;
    
    grid-column: span 6;
    
} 

#bookMeLink {

    font-family: 'Pacifico', arial, sans-serif;  
    text-decoration: none;
    color: #515151;
    background-color: rgba( 255, 255, 255, .5);
    font-size: 3.2em;
    min-width: 95%;
    padding: 15px;
    padding-bottom: 2px;
    
 
    transition: all .2s ease-out;

   text-align: right;
    border-bottom: 10px solid rgba(255, 133, 82, .8);
     
    grid-column: span 6;
    line-height: 1;
    cursor: pointer;
} 


#bookMeLink:hover {
    transition: all .2s ease-out;
    
    border-color: rgba(255, 243, 166, 1);
    background-color: rgba( 255, 255, 255, .7);
}








/* SERVICES */

#services {
    margin: 0 15vw;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: rgba(134, 85, 85, .8);
    color:rgba(255, 255, 255, .9);
    box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.30);
}

#services h3 {
    padding-top: 15px;
    color: rgba(255, 255, 255, .9);
    border-bottom: 10px solid rgba(255, 133, 82, .8);
}


#services h2 {
    text-align: center;
    color: rgba(255, 255, 255, .8);
    font-family: 'Roboto Slab';
    font-size: 1.4em;
    margin: 50px 75px;
    margin-bottom: 80px;
}

#services p {

    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, .7);
    padding: 5px;
}

.services-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
    align-items: flex-end;

}

#services .services-icons p {
    width: 30%;
    height: 100px;
    padding-top: 220px;
    
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;

    font-size: 1.3em;
    font-family: 'Quicksand', arial, sans-serif;
}

.services-icons p:nth-child(1){
    background-image: url(img/tools.png);

}

.services-icons p:nth-child(2){
    background-image: url(img/contact.png);

}

.services-icons p:nth-child(3){
    background-image: url(img/guarantee.png);

}

#services .discounts {
    text-align: center;
    border: 6px dotted rgba(255, 133, 82, 1);
    background: rgba(0, 0, 0, .3);
    margin: 75px auto;
    width: 75%;
    padding: 30px;
    margin-top: 130px;
}

#services span {
    font-size: 1.7em;
    line-height: 1.2;
    font-family: 'Pacifico', arial, sans-serif;
   color: rgba(255, 243, 166, 1);
}

#services .discounts p {
    padding: 0;
    color: rgba(255, 255, 255, .7);

}

/*
.details-container img {
    width: 100%;
    padding: 50px 4.3vw;
    
    transform: translateY(-80%);
    
    position: absolute;
}
*/


/* WHERE WE SERVE */

#where {
    background-color: rgba(255, 158, 118, 0.6);
    height: 79vh;
    margin-top: 400px;
    border-radius: 10px;
}

.where-container {
    display: flex;
    flex-direction: column;
    transform: translateY(-102vh);
}

.where-container img {
    max-width: 400px;
}

.where-container span:nth-child(3) {
    color: #6a6b6a;
    font-family: 'Quicksand', arial, sans-serif;
    border-bottom: 4px dotted rgba(255, 255, 255, .6);
}

.where-container p {
    font-size: 1.1em;
    flex: 1;
    padding: 10px 25px;
    padding-top: 50px;
    text-align: center;
    color: rgba(106, 107, 106, .9);
    line-height: 1;
}

#zip {
    padding: 20px;
    font-size: .9em;
    margin: 15px auto;
    margin-top: 30px;
    width: 75%;
    height: 50px;
    color: #6a6b6a;
    background-color: rgba(255, 255, 255, .4);
    font-family: 'Quicksand', arial, sans-serif;
}

#zip:invalid {
    box-shadow: none;
    border: 1px solid rgba(255, 107, 107, 1);
}


#zipSubmit {
    margin-top: 30px;
    margin-left: 15px;
    height: 50px;
    width: 15%;
    background-color: rgba(255, 255, 255, .5);
    font-size: .9em;
    font-family: 'Quicksand', arial, sans-serif;
    color: rgba(0, 0, 0, .8);
    display: inline;
}

#alertValidZip, #alertInvalidZip {
    font-size: 1.2em;
    display: none;
    margin-top: 40px;
}
#alertValidZip {
    background: url(img/included.png);
    background-size: 25px;
    
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;
    
}



/* ABOUT*/

#about {
    transform: translateY(-35vh);
    
}

.about-container {
    background-image: url(img/final-resized.png);
    background-size: cover;
    
    background-repeat: no-repeat;
    transform: translateY(-325px);
    min-height: 79vh;
}

.about-container h3 {
    text-align: right; 
    padding: 2% 5%;
    font-size: 3em;
    color: rgba(255, 255, 255, .7);
}

.about-content {
    color: #6a6b6a;
    transform: translateY(-250px);
}

.about-content h1 {
    font-size: 2em;
    font-family: 'Pacifico', arial, sans-serif;
    z-index: 1;
    grid-column: 1/-1;
}

.about-content span {
    font-size: 1.5em;
    line-height: 1;
    font-family: 'Pacifico', arial, sans-serif;
}

.about-content p {
    z-index: 1;
    font-size: 1.2em;
    width: 65%;
    line-height: 2;
    font-family: 'Quicksand', arial, sans-serif;
    border: 10px dotted rgba(255, 255, 255, .75);
    background-color: rgba(255, 255, 255, .1);
    padding: 20px;
    text-align: center;
}


/* footer */
/*--------------------------------------------------*/



footer {
        background-color: rgba(134, 85, 85, .8);
        margin-top: 100px;
    }

.footer-container {
    display: flex;
    margin: 0 5%;
    justify-content: flex-end;
    text-align: right;
}

footer h3 {
    text-align: right;
    
}

footer ul {
    margin: 0;
    padding: 20px 0px;
}

footer li {
    margin-bottom: 5px;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Quicksand', arial, sans-serif;
}

footer a{
    color: #ffffff;
    font-size: .9em;
}

footer a:hover{
    color: orange;
    cursor: pointer;
}


/*--------------------------------------------------*/
/* MEDIA STYLES */
/*--------------------------------------------------*/


@media all and (max-width: 950px) {
    body:before {
        transform: scale(1.7);
    }
    

    nav li.logo {
        display:none;
    }
    
    #quoteFormHeader {
        top: 50px;
        font-size: 2.5em;
    }
    
    #quoteForm {
        min-width: 85%;
    }
    
    #bedSlider, #bathSlider {
        width: 80%;
    }
    
    #moveContainer, #routineContainer, #deepContainer {
        grid-column: span 12;
        padding: 5px;
        
        
        flex-direction: column;
    }
    
      .bookContainer {
          min-width: 80%;
          margin-top: 20vh;
    }
    
    
    #bookMeLink {
        font-size: 3em;
       
    }
    
    #services {
        
        margin: 50px 10vw;
    }
    
    #services .services-icons p {
        background-size: 65%;
    }
    
     .details-container img {
        padding: 50px 6vw;
    }
    
    .about-container {
        background-size: 150%;
    }
    
    .about-container p {
        width: 80%;
    }
    
}

@media all and (max-width: 700px){
    body:before {
        transform: scale(2.2);
    }
    
    .home {
        height: 140vh;
    }
    
    #quoteFormHeader {
        left: 5%;
        font-size: 2em;
        top: 60px;
    }
    
    form#quoteForm {
        max-width: 80%; 
        
    }
    
     #bedSliderContainer p, #bathSliderContainer p{
        font-size: .8em;
    }
    
    #moveContainer,
    #routineContainer, #deepContainer{
        text-align: left;
        font-size: .9em;
    }
    
    #totalValue {
        grid-column: span 4;
    }
    
    #bookMeLink {

        grid-column: 6/-1;
    }
    
    #services {
        margin: 50px 7vw;
    }
    
    #services h2 {
        font-size: 1.1em;
        margin: 30px;
    }
    
      #services .services-icons {
        flex-direction: column;
   
    }
    
    #services .services-icons p {
        padding-top: 200px;
        width: 50%;
        margin: 20px auto;
        font-size: 1.2em;
        background-size: 50%;
    }
    
    .details-container img {
        padding: 50px 4vw;
    }
    
    #where {
        height: 78vh; 
    }
    
    .where-container {
        flex-direction: column;
        transform: translateY(-100vh);
    }
    
    .where-container img {
        max-width: 300px;
    }
    
    .where-container p {
       line-height: 1.3;
    }
    
    .about-container {
        background-size: 160%;
        background-position: -50px 0px;
    }
    
    .about-container p {
         font-size: 1em;
    }
    
    
}

@media all and (max-width: 550px){
    
    .home {
        height: 155vh;
    }
    
    .skew {
        margin: auto;
        width: 100%;
    }
    
    form {
        font-size: .9em;
    }
    
   #bedSliderContainer, #bathSliderContainer {
       grid-column: span 12;
    } 
    
    #moveContainer,
    #routineContainer, #deepContainer{
      text-align: left;
    padding: 10px 0;
        
        border-bottom: 3px dashed #6b6a6b;
    }
    
    #routineContainer, #deepContainer {
        box-shadow: none;
    }
    
    #cleanContainer {
        flex-direction: column;
        
    }
    
    #includedContainer p {
        font-size: 1.2em;
    }
    
    #includedContainer li {
        font-size: .85em;
    }
    
    #buttonContainer {
     grid-template-columns: repeat(3, minmax(50px, 1fr));
    
    }
    
    .bookContainer {
        margin-top: 100px;
    }
    
    #totalValue {
        grid-column: span 12;
    }
    
    #bookMeLink {
        grid-column: span 12;
        
        margin-top: 20px;
    }
    
    #services h2 {
        margin: 20px;
    }
    
    #services .services-icons p {
        padding-top: 150px;
        background-size: 55%;
        margin: 40px auto;
    }
    
    #services .discounts {
        font-size: .9em;
        padding: 30px 10px;
    }
    
    #services span {
        font-size: 1.5em;
    }
    
    #where {
        margin-top: 300px;
    }
    
    .where-container {
        transform: translateY(-90vh);
    }
    
    .where-container img {
        max-width: 200px;
    }
    
    #zip {
        width: 60%;
    }


    #zipSubmit {
        width: 25%;
    }
    
    .about-container {
        background-size: 270%;
        background-position: -30px 0px;
    }
    
    
    .about-content p {
        font-size: 1em;
        width: 90%;
    }
    
    @media all and (max-width: 325px){

    .home {
        height: 200vh;
    }
        
    .about-container {
        background-size: 350%;
        background-position: -72px 0px;
       transform: translateY(-45vh);
    }
        
    #services .services-icons p {
            margin: 10px auto;
        }
    }